<bz-main-box-image-header [headerImage]="'../../../../../assets/Images/main-image-bguard.svg'" class="box-centered">
  <div class="content">
    <div class="text-header">
      <h3>
        <span class="d-block">היי! אנחנו רואים שכבר נרשמתם ל Bguard</span>
      </h3>
    </div>
    <div class="main-text-container">
      <span class="d-block">תכף נשלח סמס עם קישור להורדת</span>
      <span class="d-block">האפלקצייה וקוד כניסה לשירות</span>
      <span class="d-block">למספר {{currentBguardState?.userInfo?.SMSVerifiedNumber}}</span>
    </div>
    <div class="submit-container">
      <!-- <button type="submit" class="btn-submit">אוקיי</button> -->
      <a href="https://www.bezeq.co.il/internetandphone/appsandservices/bguard/support/" class="link-submit" target="_blank">אוקיי</a>
    </div>

    <div class="footer-link-container">
      <!-- <a href="https://www.bezeq.co.il/" title="לא לקוח/ה בזק">לא לקוח/ה בזק</a> -->
    </div>
  </div>
</bz-main-box-image-header>
