.content {
  margin-top: 42px;
  padding: 0 14px;
  text-align: center;
}

.text-desc {

  h3 {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #16254f;
  }
}

.tabs-container {
  margin-top: 10.5px;
}
