<bz-main-box-image-header [headerImage]="'../../../../../assets/Images/main-image-bguard.svg'" class="box-centered">
  <div class="content">
    <div class="text-header">
      <h3>
        <span class="d-block">היי! אנחנו רואים שכבר נרשמתם</span>
        <span class="d-block">לאפליקציית Bguard עם המייל הזה:</span>
      </h3>
    </div>
    <div class="email-container">
      <span class="d-block">{{currentBguardState?.verificationUserInfo?.vendorRegisteredEmail}}</span>
    </div>
    <div class="main-text-container">
      <span class="d-block">כנסו לאפליקציה ותוודאו שהילדים בטוחים ברשת</span>
    </div>
    <div class="submit-container">
      <!-- <button type="submit" class="btn-submit">אוקיי</button> -->
      <a href="http://r.ps-online.co/glu?id=Mx69" class="link-submit" target="_blank">אוקיי</a>
    </div>

    <div class="footer-link-container">
      <!-- <a href="https://www.bezeq.co.il/" title="לא לקוח/ה בזק">לא לקוח/ה בזק</a> -->
    </div>
  </div>
</bz-main-box-image-header>
